<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.building.mapper.AccountBillWriteMapper">
											
<insert id="insertManagementFee" parameterType = "kr.or.ddit.building.chargeBill.dto.IntegratedMgmtFeeDTO">
insert into integrated_management_fee(INT_MAN_FEE_CD
,UNIT_ID
,BLDG_ID
,RENTAL_PTY_ID
,INTG_FEE_AMOUNT 
)values (
#{intManFeeCd}
,#{unitId}
,#{bldgId}
,#{rentalPtyId}
,#{intgFeeAmount})

</insert>

<insert id="insertEnergyUsage" parameterType = "kr.or.ddit.building.chargeBill.dto.EnergyUsageDTO">
insert into HOUSEHOLD_ENERGY_MONTHLY_USAGE(
unit_id
,bldg_id
,rental_pty_id
,dum_comp
,total_energy_charge_amt
,total_energy_usage_qty
) values (
#{unitId}
,#{bldgId}
,#{rentalPtyId}
,#{dumComp}
,#{totalEnergyChargeAmt}
,#{totalEnergyUsageQty}
)

</insert>

<insert id="insertChargeBill" parameterType="kr.or.ddit.building.chargeBill.dto.ChargeBillCreateDTO">
insert into charge_bill (
RENTAL_PTY_ID
,UNIT_ID
,BLDG_ID
,CHGBILL_AMOUNT
,CHGBILL_DUE_DATE
,CHGBILL_DESC
,CHGBILL_ACC_NUM) VALUES (
#{rentalPtyId}
,#{unitId}
,#{bldgId}
,#{chgbillAmount}
,to_char(to_date(#{chgbillDueDate},'yyyy-mm-dd'),'yyyymmdd')
,#{chgbillDesc}
,#{chgbillAccNum})
</insert>

<select id="selectAccounts" resultType="TenancyAccountVO">
select *
from tenancy_account
where mbr_cd = #{mbrCd}
</select>

<select id="selectOwnBuildings" resultType="BuildingVO">
select a.bldg_id, a.bldg_nm , a.rental_pty_id
from building a
inner join tenancy b on (a.rental_pty_id = b.rental_pty_id)
inner join member c on (b.mbr_cd = c.mbr_cd)
where c.mbr_cd = #{mbrCd}
</select>
<select id="selectOwnUsage" resultType="ManagementEntityMonthlyChargeAggregationVO" parameterType="list">
  SELECT *
  FROM MANAGEMENT_ENTITY_MONTHLY_CHARGE_AGGREGATION
  WHERE DUM_MONTH = TO_CHAR(SYSDATE, 'YYYYMM')
  AND UNIT_ID IN
  <foreach item="id" collection="list" open="(" separator="," close=")">
    #{id}
  </foreach>
</select>

<select id="selectUnits" resultType="UnitVO">
SELECT a.unit_id, a.unit_room
FROM unit a
INNER JOIN building c ON a.bldg_id = c.bldg_id AND a.rental_pty_id = c.rental_pty_id
WHERE c.bldg_id = #{bldgId}
  AND c.rental_pty_id = #{rentalPtyId}
  AND EXISTS (
    SELECT 1
    FROM unit_resident b
    WHERE b.unit_id = a.unit_id
      AND b.unit_del_yn = 'N'
  )
</select>

<select id="selectRentalPty" resultType= "string">
select rental_pty_id
from tenancy
where mbr_cd = #{mbrCd}
</select>

</mapper>