<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.main.mapper.KakaoMapDataMapper">
<select id="selectNotLatLngList" resultType="kr.or.ddit.vo.ListingVO">
 	SELECT
 		LSTG_ID,
 		LSTG_ADD
 	FROM
 		LISTING
 	WHERE 
 		LSTG_LAT IS NULL OR LSTG_LNG IS NULL
</select>
<update id="updateLatLng">
	UPDATE
		LISTING
	SET
		LSTG_LAT = #{lstgLat},
        LSTG_LNG = #{lstgLng}
    WHERE
    	LSTG_ID = #{lstgId}
</update>

<select id="selectLatLngMarkList" resultType="kr.or.ddit.vo.ListingVO">
	  SELECT
	    LI.LSTG_ID,
	    LI.MBR_CD,
	    LI.LSTG_ADD,
	    LI.LSTG_ADD2,
	    LI.LSTG_LAT,
	    LI.LSTG_LNG,
	    LI.LSTG_NM,
	    LI.LSTG_EX_AREA,
	    LI.LSTG_GR_AREA,
	    LI.LSTG_TYPE_SALE,
	    LI.LSTG_LEASE,
	    LI.LSTG_LEASE_M,
	    LI.LSTG_LEASE_AMT,
	    LI.LSTG_FLOOR,
	    LI.LSTG_ROOM_CNT,
	    LI.LSTG_PARK_YN,
	    LI.LSTG_TYPE_CODE1,
	    LI.LSTG_TYPE_CODE2,
	    LI.LSTG_POSTAL,
	    <choose>
	      <when test="mbrCd != null and mbrCd != ''">
	        (SELECT COUNT(*)
	         FROM LISTING_WISHLIST W
	         WHERE W.LSTG_ID = LI.LSTG_ID 
	         AND W.MBR_CD = #{mbrCd}) AS wishCount
	      </when>
	      <otherwise>
	        0 AS wishCount
	      </otherwise>
	    </choose>
	  FROM 
	    LISTING LI
	    LEFT OUTER JOIN FILES F ON F.FILE_SOURCE_REF = 'LISTING'
	  WHERE
	    LI.LSTG_LAT BETWEEN #{swLat} AND #{neLat}
	    AND LI.LSTG_LNG BETWEEN #{swLng} AND #{neLng}
	    
	    <if test="typeCode1List != null and typeCode1List.size() > 0">
	      AND LI.LSTG_TYPE_CODE1 IN
	      <foreach item="type" collection="typeCode1List" open="(" separator="," close=")">
	        #{type}
	      </foreach>
	    </if>
	    
	    <if test="typeCode2List != null and typeCode2List.size() > 0">
	      AND LI.LSTG_TYPE_CODE2 IN
	      <foreach item="type" collection="typeCode2List" open="(" separator="," close=")">
	        #{type}
	      </foreach>
	    </if>
	    
	    <if test="saleTypeList != null and saleTypeList.size() > 0">
	      AND LI.LSTG_TYPE_SALE IN
	      <foreach item="type" collection="saleTypeList" open="(" separator="," close=")">
	        #{type}
	      </foreach>
	    </if>
	    
	    <if test="category != null">
	      AND LI.LSTG_TYPE_CODE1 = #{category}
	    </if>
	
	    <if test="keyword != null and keyword != ''">
	      AND (
	        LI.LSTG_ADD LIKE '%' || #{keyword} || '%'
	        OR LI.LSTG_ADD2 LIKE '%' || #{keyword} || '%'
	        OR TO_CHAR(LI.LSTG_GR_AREA) LIKE '%' || #{keyword} || '%'
	        OR LI.LSTG_NM LIKE '%' || #{keyword} || '%'
	      )
	    </if>
	
	    <if test="facilityOptionList != null and facilityOptionList.size() > 0">
	      AND EXISTS (
	        SELECT 1
	        FROM LISTING_OPTION LOP
	        WHERE LOP.LSTG_ID = LI.LSTG_ID
	        AND LOP.FAC_OPT_ID IN
	        <foreach item="opt" collection="facilityOptionList" open="(" separator="," close=")">
	          #{opt}
	        </foreach>
	      )
	    </if>
	
	    <if test="parkingYn != null and parkingYn != ''">
	      AND LI.LSTG_PARK_YN = #{parkingYn}
	    </if>
	
	    <if test="minFloor != null">
	      AND LI.LSTG_FLOOR &gt;= #{minFloor}
	    </if>
	    <if test="maxFloor != null">
	      AND LI.LSTG_FLOOR &lt;= #{maxFloor}
	    </if>
	
	    <if test="minArea != null">
	      AND LI.LSTG_GR_AREA &gt;= #{minArea}
	    </if>
	    <if test="maxArea != null">
	      AND LI.LSTG_GR_AREA &lt;= #{maxArea}
	    </if>
</select>

<select id="selectListingDetailList" resultType="kr.or.ddit.vo.ListingVO">
	SELECT
		LSTG_ID, 
		MBR_CD, 
		LSTG_TYPE_CODE2, 
		LSTG_ADD, 
		LSTG_ADD2, 
		LSTG_EX_AREA, 
		LSTG_GR_AREA, 
		LSTG_ROOM_CNT, 
		LSTG_ROOM_NUM, 
		LSTG_DST, 
		LSTG_TYPE_SALE, 
		LSTG_LEASE, 
		LSTG_LEASE_M, 
		LSTG_LEASE_AMT, 
		LSTG_FLOOR, 
		LSTG_PARK_YN, 
		LSTG_REG_DATE, 
		LSTG_NM, 
		LSTG_TYPE_CODE1, 
		RENTAL_PTY_ID, 
		LSTG_POSTAL
	FROM
		LISTING
	WHERE
		LSTG_ID = #{lstgId}
		AND LSTG_DEL ='N'
</select>

</mapper>