<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.building.mapper.RentalOwnerProductMapper">

<resultMap id="listingResultMap" type="ListingVO">
    <id property="lstgId" column="LSTG_ID"/>
    <result property="mbrCd" column="MBR_CD"/>
    <result property="lstgNm" column="LSTG_NM"/>
    <result property="lstgDst" column="LSTG_DST"/>
    <result property="lstgTypeSale" column="LSTG_TYPE_SALE"/>
    <result property="lstgProdStat" column="LSTG_PROD_STAT"/>
</resultMap>
<resultMap id="buildingMap" type="BuildingVO">
	<id property="bldgId" column="BLDG_ID"/>
	<id property="rentalPtyId" column="RENTAL_PTY_ID"/>
	<result property="bldgNm" column="BLDG_NM"/>
	<result property="bldgZipNo" column="BLDG_ZIP_NO"/>
	<result property="bldgAddr" column="BLDG_ADDR"/>
	<result property="bldgDtlAddr" column="BLDG_DTL_ADDR"/>
	<result property="bldgTypeCode" column="BLDG_TYPE_CODE"/>
	<result property="bldgFlrCnt" column="BLDG_FLR_CNT"/>
	<result property="bldgUnitCnt" column="BLDG_UNIT_CNT"/>
	<result property="bldgCmpltnDt" column="BLDG_CMPLTN_DT"/>
	<result property="bldgGrossArea" column="BLDG_GROSS_AREA"/>
	<result property="bldgImgPath" column="BLDG_IMG_PATH"/>
	<result property="bldgTypeGroupCd" column="BLDG_TYPE_GROUP_CD"/>
	<result property="delYn" column="DEL_YN"/>
	<collection property="unitList" ofType="UnitVO" >
		<id property="unitId" column="UNIT_ID"/>
		<id property="bldgId" column="U_BLDG_ID"/>
		<id property="rentalPtyId" column="U_RENTAL_PTY_ID"/>
		<result property="unitFlrNo" column="UNIT_FLR_NO"/>
		<result property="unitCmar" column="UNIT_CMAR"/>
		<result property="unitXuar" column="UNIT_XUAR"/>
		<result property="unitDsrMnthRentAmt" column="UNIT_DSR_MNTH_RENT_AMT"/>
		<result property="unitDsrSaleAmt" column="UNIT_DSR_SALE_AMT"/>
		<result property="unitDpstAmt" column="UNIT_DPST_AMT"/>
		<result property="unitDtlDescCn" column="UNIT_DTL_DESC_CN"/>
		<result property="unitStatCd" column="UNIT_STAT_CD"/>
		<result property="unitRoom" column="UNIT_ROOM"/>
		<result property="mbrCd" column="MBR_CD"/>
</collection>
</resultMap>
	<insert id="insertOptionList">
    INSERT INTO LISTING_OPTION (
        LSTG_ID,
        FAC_OPT_ID
    )
    VALUES
    <foreach collection="list" item="opt" separator=",">
        (
            #{opt.lstgId},
            #{opt.facOptId}
        )
    </foreach>
</insert>


    <!-- 매물 등록 -->
    <insert id="insertProduct" parameterType="ListingVO">
        INSERT INTO LISTING (
            LSTG_ID,
            MBR_CD,
            RENTAL_PTY_ID,
            LSTG_TYPE_CODE1,
            LSTG_TYPE_CODE2,
            LSTG_ADD,
            LSTG_ADD2,
            LSTG_EX_AREA,
            LSTG_GR_AREA,
            LSTG_ROOM_CNT,
            LSTG_ROOM_NUM,
            LSTG_NM,
            LSTG_DST,
            LSTG_TYPE_SALE,
            LSTG_LEASE,
            LSTG_LEASE_M,
            LSTG_LEASE_AMT,
            LSTG_FLOOR,
            LSTG_PARK_YN,
            LSTG_LAT,
            LSTG_LNG,
            LSTG_DEL,
            LSTG_REG_DATE,
            LSTG_PROD_STAT,
            LSTG_POSTAL,
            LSTG_FEE
        ) VALUES (
            #{lstgId},
            #{mbrCd},
            #{rentalPtyId},
            #{lstgTypeCode1},
            #{lstgTypeCode2},
            #{lstgAdd},
            #{lstgAdd2},
            #{lstgExArea},
            #{lstgGrArea},
            #{lstgRoomCnt},
            #{lstgRoomNum},
            #{lstgNm},
            #{lstgDst},
            #{lstgTypeSale},
            #{lstgLease},
            #{lstgLeaseM},
            #{lstgLeaseAmt},
            #{lstgFloor},
            #{lstgParkYn},
            #{lstgLat},
            #{lstgLng},
            'N',
            SYSDATE,
            '001',
            #{lstgPostal},
            #{lstgFee}
        )
    </insert>
    
    <select id="selectBuildingUnitList" resultMap="buildingMap">
    SELECT B.BLDG_ID
          , B.RENTAL_PTY_ID
          , B.BLDG_NM
          , B.BLDG_ZIP_NO
          , B.BLDG_ADDR
          , B.BLDG_DTL_ADDR
          , U.UNIT_ID
          , U.BLDG_ID U_BLDG_ID
          , U.RENTAL_PTY_ID U_RENTAL_PTY_ID
          , U.UNIT_DSR_MNTH_RENT_AMT
          , U.UNIT_DSR_SALE_AMT
          , U.UNIT_DPST_AMT
          , U.UNIT_FLR_NO
          , U.UNIT_ROOM
          , U.MBR_CD
          , U.UNIT_CMAR
          , U.UNIT_XUAR
    FROM BUILDING B, UNIT U
    WHERE B.BLDG_ID = U.BLDG_ID
    AND B.RENTAL_PTY_ID = #{rentalPtyId}
    AND B.BLDG_ID = #{bldgId}
    </select>
    
    <select id="selectBuildingList">
    SELECT B.BLDG_ID
     , B.RENTAL_PTY_ID
     , B.BLDG_NM
     , B.BLDG_ZIP_NO
     , B.BLDG_ADDR
     , B.BLDG_DTL_ADDR
FROM BUILDING B
WHERE B.RENTAL_PTY_ID = #{rentalPtyId}
AND EXISTS (
    SELECT 1
    FROM UNIT U
    WHERE U.BLDG_ID = B.BLDG_ID
)
    </select>
    
  <select id="selectNextLstgId" resultType="string">
  SELECT 'L' || TO_CHAR(SYSDATE, 'YYMM') || LPAD(seq_LSTG_ID.NEXTVAL, 6, '0') FROM DUAL
</select>

<select id="selectProductCount">
  SELECT COUNT(*)
  FROM LISTING L
  WHERE L.LSTG_DEL = 'N'
    <if test="pagingVO.detailSearch != null">
      AND L.MBR_CD = #{pagingVO.detailSearch.mbrCd}

      <if test="pagingVO.detailSearch.searchBuildingName != null and pagingVO.detailSearch.searchBuildingName != ''">
        AND L.LSTG_NM LIKE '%' || #{pagingVO.detailSearch.searchBuildingName} || '%'
      </if>

      <if test="pagingVO.detailSearch.searchRoomNum != null and pagingVO.detailSearch.searchRoomNum != ''">
        AND L.LSTG_ROOM_NUM LIKE '%' || #{pagingVO.detailSearch.searchRoomNum} || '%'
      </if>

      <if test="pagingVO.detailSearch.searchStatus != null and pagingVO.detailSearch.searchStatus != ''">
        AND L.LSTG_PROD_STAT = #{pagingVO.detailSearch.searchStatus}
      </if>

      <if test="pagingVO.detailSearch.searchType != null and pagingVO.detailSearch.searchType != ''">
        AND L.LSTG_TYPE_SALE = #{pagingVO.detailSearch.searchType}

        <!-- 전세 조건 -->
        <if test="pagingVO.detailSearch.searchType == '001'">
          <if test="pagingVO.detailSearch.searchDepositMin != null and pagingVO.detailSearch.searchDepositMin != ''">
            AND L.LSTG_LEASE <![CDATA[>=]]> #{pagingVO.detailSearch.searchDepositMin}
          </if>
          <if test="pagingVO.detailSearch.searchDepositMax != null and pagingVO.detailSearch.searchDepositMax != ''">
            AND L.LSTG_LEASE <![CDATA[<=]]> #{pagingVO.detailSearch.searchDepositMax}
          </if>
        </if>

        <!-- 월세 조건 -->
        <if test="pagingVO.detailSearch.searchType == '002'">
          <if test="pagingVO.detailSearch.searchDepositMin != null and pagingVO.detailSearch.searchDepositMin != ''">
            AND L.LSTG_LEASE_AMT <![CDATA[>=]]> #{pagingVO.detailSearch.searchDepositMin}
          </if>
          <if test="pagingVO.detailSearch.searchDepositMax != null and pagingVO.detailSearch.searchDepositMax != ''">
            AND L.LSTG_LEASE_AMT <![CDATA[<=]]> #{pagingVO.detailSearch.searchDepositMax}
          </if>
          <if test="pagingVO.detailSearch.searchMonthlyMin != null and pagingVO.detailSearch.searchMonthlyMin != ''">
            AND L.LSTG_LEASE_M <![CDATA[>=]]> #{pagingVO.detailSearch.searchMonthlyMin}
          </if>
          <if test="pagingVO.detailSearch.searchMonthlyMax != null and pagingVO.detailSearch.searchMonthlyMax != ''">
            AND L.LSTG_LEASE_M <![CDATA[<=]]> #{pagingVO.detailSearch.searchMonthlyMax}
          </if>
        </if>

        <!-- 매매 조건 -->
        <if test="pagingVO.detailSearch.searchType == '003'">
          <if test="pagingVO.detailSearch.searchSaleMin != null and pagingVO.detailSearch.searchSaleMin != ''">
            AND L.LSTG_SALE <![CDATA[>=]]> #{pagingVO.detailSearch.searchSaleMin}
          </if>
          <if test="pagingVO.detailSearch.searchSaleMax != null and pagingVO.detailSearch.searchSaleMax != ''">
            AND L.LSTG_SALE <![CDATA[<=]]> #{pagingVO.detailSearch.searchSaleMax}
          </if>
        </if>
      </if>
      <if test="pagingVO.detailSearch.searchRegDateFrom != null">
		  AND L.LSTG_REG_DATE &gt;= TO_DATE(#{pagingVO.detailSearch.searchRegDateFrom}, 'YYYY-MM-DD')
		</if>
		<if test="pagingVO.detailSearch.searchRegDateTo != null">
		  AND L.LSTG_REG_DATE &lt;= TO_DATE(#{pagingVO.detailSearch.searchRegDateTo}, 'YYYY-MM-DD') + 1
		</if>
      
    </if>
   ORDER BY L.LSTG_REG_DATE, L.LSTG_ID
</select>
<select id="selectNearbyBrokers">
SELECT *
FROM (
  SELECT B.REPR_TEL_NO
       , B.BROK_NM
       , B.BROK_ADDR1
       , B.BROK_ADDR2
       , B.REPR_NM
       , B.MBR_CD
       , (
           SELECT F.FILE_PATH_URL
           FROM FILES F
           WHERE F.FILE_SOURCE_ID = B.MBR_CD
             AND F.FILE_SOURCE_REF = 'BROKER'
             AND F.DOC_TYPE_CD = 'NAMECARD_MAIN'
             AND ROWNUM = 1
         ) AS businessCardUrl
       , (
           6371 * ACOS(
             COS(#{lat} * (3.141592653589793 / 180)) * COS(B.BROK_LAT * (3.141592653589793 / 180)) *
             COS((B.BROK_LNG - #{lng}) * (3.141592653589793 / 180)) +
             SIN(#{lat} * (3.141592653589793 / 180)) * SIN(B.BROK_LAT * (3.141592653589793 / 180))
           )
         ) AS distance
  FROM BROKER B
  WHERE B.BROK_LAT IS NOT NULL AND B.BROK_LNG IS NOT NULL
) A
WHERE A.distance <![CDATA[<=]]> #{radiusKm}
ORDER BY A.distance ASC
</select>




<select id="selectRoomsList">
SELECT LSTG_ID
		, MBR_CD
		, LSTG_TYPE_CODE2
		, LSTG_ADD
		, LSTG_ADD2
		, LSTG_EX_AREA
		, LSTG_GR_AREA
		, LSTG_ROOM_CNT
		, LSTG_ROOM_NUM
		, LSTG_DST
		, LSTG_TYPE_SALE
		, LSTG_LEASE
		, LSTG_LEASE_M
		, LSTG_LEASE_AMT
		, LSTG_FLOOR
		, LSTG_PARK_YN
		, LSTG_LAT
		, LSTG_LNG
		, LSTG_DEL
		, LSTG_REG_DATE
		, LSTG_PROD_STAT
		, LSTG_NM
		, LSTG_TYPE_CODE1
		, RENTAL_PTY_ID
		, LSTG_POSTAL
		, LSTG_FEE
FROM LISTING
WHERE LSTG_ADD = #{lstgAdd}
AND RENTAL_PTY_ID = #{rentalPtyId}
AND LSTG_DEL = 'N'
</select>
    
<select id="selectProductList">
  SELECT
    A_PAGING.LSTG_ID,
    A_PAGING.MBR_CD,
    A_PAGING.LSTG_TYPE_CODE2,
    A_PAGING.LSTG_ADD,
    A_PAGING.LSTG_ADD2,
    A_PAGING.LSTG_EX_AREA,
    A_PAGING.LSTG_GR_AREA,
    A_PAGING.LSTG_ROOM_CNT,
    A_PAGING.LSTG_ROOM_NUM,
    A_PAGING.LSTG_DST,
    A_PAGING.LSTG_TYPE_SALE,
    A_PAGING.LSTG_LEASE,
    A_PAGING.LSTG_LEASE_M,
    A_PAGING.LSTG_LEASE_AMT,
    A_PAGING.LSTG_FLOOR,
    A_PAGING.LSTG_PARK_YN,
    A_PAGING.LSTG_LAT,
    A_PAGING.LSTG_LNG,
    A_PAGING.LSTG_DEL,
    A_PAGING.LSTG_REG_DATE,
    A_PAGING.LSTG_PROD_STAT,
    A_PAGING.LSTG_NM,
    A_PAGING.LSTG_TYPE_CODE1,
    A_PAGING.RENTAL_PTY_ID,
    A_PAGING.LSTG_POSTAL,
    A_PAGING.LSTG_FEE
  FROM (
    SELECT
      ROW_NUMBER() OVER (ORDER BY L.LSTG_REG_DATE DESC) AS RNUM,
      L.LSTG_ID,
      L.MBR_CD,
      L.LSTG_TYPE_CODE2,
      L.LSTG_ADD,
      L.LSTG_ADD2,
      L.LSTG_EX_AREA,
      L.LSTG_GR_AREA,
      L.LSTG_ROOM_CNT,
      L.LSTG_ROOM_NUM,
      L.LSTG_DST,
      L.LSTG_TYPE_SALE,
      L.LSTG_LEASE,
      L.LSTG_LEASE_M,
      L.LSTG_LEASE_AMT,
      L.LSTG_FLOOR,
      L.LSTG_PARK_YN,
      L.LSTG_LAT,
      L.LSTG_LNG,
      L.LSTG_DEL,
      L.LSTG_REG_DATE,
      L.LSTG_PROD_STAT,
      L.LSTG_NM,
      L.LSTG_TYPE_CODE1,
      L.RENTAL_PTY_ID,
      L.LSTG_POSTAL,
      L.LSTG_FEE
    FROM LISTING L
    WHERE L.LSTG_DEL = 'N'
      <if test="pagingVO.detailSearch != null">
        AND L.MBR_CD = #{pagingVO.detailSearch.mbrCd}

        <if test="pagingVO.detailSearch.searchBuildingName != null and pagingVO.detailSearch.searchBuildingName != ''">
          AND L.LSTG_NM LIKE '%' || #{pagingVO.detailSearch.searchBuildingName} || '%'
        </if>

        <if test="pagingVO.detailSearch.searchRoomNum != null and pagingVO.detailSearch.searchRoomNum != ''">
          AND L.LSTG_ROOM_NUM LIKE '%' || #{pagingVO.detailSearch.searchRoomNum} || '%'
        </if>

        <if test="pagingVO.detailSearch.searchStatus != null and pagingVO.detailSearch.searchStatus != ''">
          AND L.LSTG_PROD_STAT = #{pagingVO.detailSearch.searchStatus}
        </if>

        <if test="pagingVO.detailSearch.searchType != null and pagingVO.detailSearch.searchType != ''">
          AND L.LSTG_TYPE_SALE = #{pagingVO.detailSearch.searchType}

          <!-- 전세 조건 -->
          <if test="pagingVO.detailSearch.searchType == '001'">
            <if test="pagingVO.detailSearch.searchDepositMin != null and pagingVO.detailSearch.searchDepositMin != ''">
              AND L.LSTG_LEASE <![CDATA[>=]]> #{pagingVO.detailSearch.searchDepositMin}
            </if>
            <if test="pagingVO.detailSearch.searchDepositMax != null and pagingVO.detailSearch.searchDepositMax != ''">
              AND L.LSTG_LEASE <![CDATA[<=]]> #{pagingVO.detailSearch.searchDepositMax}
            </if>
          </if>

          <!-- 월세 조건 -->
          <if test="pagingVO.detailSearch.searchType == '002'">
            <if test="pagingVO.detailSearch.searchDepositMin != null and pagingVO.detailSearch.searchDepositMin != ''">
              AND L.LSTG_LEASE_AMT <![CDATA[>=]]> #{pagingVO.detailSearch.searchDepositMin}
            </if>
            <if test="pagingVO.detailSearch.searchDepositMax != null and pagingVO.detailSearch.searchDepositMax != ''">
              AND L.LSTG_LEASE_AMT <![CDATA[<=]]> #{pagingVO.detailSearch.searchDepositMax}
            </if>
            <if test="pagingVO.detailSearch.searchMonthlyMin != null and pagingVO.detailSearch.searchMonthlyMin != ''">
              AND L.LSTG_LEASE_M <![CDATA[>=]]> #{pagingVO.detailSearch.searchMonthlyMin}
            </if>
            <if test="pagingVO.detailSearch.searchMonthlyMax != null and pagingVO.detailSearch.searchMonthlyMax != ''">
              AND L.LSTG_LEASE_M <![CDATA[<=]]> #{pagingVO.detailSearch.searchMonthlyMax}
            </if>
          </if>

          <!-- 🏠 매매 조건 추가 -->
          <if test="pagingVO.detailSearch.searchType == '003'">
            <if test="pagingVO.detailSearch.searchSaleMin != null and pagingVO.detailSearch.searchSaleMin != ''">
              AND L.LSTG_SALE <![CDATA[>=]]> #{pagingVO.detailSearch.searchSaleMin}
            </if>
            <if test="pagingVO.detailSearch.searchSaleMax != null and pagingVO.detailSearch.searchSaleMax != ''">
              AND L.LSTG_SALE <![CDATA[<=]]> #{pagingVO.detailSearch.searchSaleMax}
            </if>
          </if>

        </if>
        <if test="pagingVO.detailSearch.searchRegDateFrom != null">
		  AND L.LSTG_REG_DATE &gt;= TO_DATE(#{pagingVO.detailSearch.searchRegDateFrom}, 'YYYY-MM-DD')
		</if>
		<if test="pagingVO.detailSearch.searchRegDateTo != null">
		  AND L.LSTG_REG_DATE &lt;= TO_DATE(#{pagingVO.detailSearch.searchRegDateTo}, 'YYYY-MM-DD') + 1
		</if>
		        
      </if>
  ) A_PAGING
  WHERE RNUM BETWEEN #{pagingVO.firstRecordIndex} AND #{pagingVO.lastRecordIndex}
</select>





    <!-- 매물 상세 조회 -->
    <select id="selectProductById" parameterType="string" resultType="ListingVO">
        SELECT 
            LSTG_ID,
            MBR_CD,
            RENTAL_PTY_ID,
            LSTG_TYPE_CODE1,
            LSTG_TYPE_CODE2,
            LSTG_ADD,
            LSTG_ADD2,
            LSTG_EX_AREA,
            LSTG_GR_AREA,
            LSTG_ROOM_CNT,
            LSTG_ROOM_NUM,
            LSTG_NM,
            LSTG_DST,
            LSTG_TYPE_SALE,
            LSTG_LEASE,
            LSTG_LEASE_M,
            LSTG_LEASE_AMT,
            LSTG_FLOOR,
            LSTG_PARK_YN,
            LSTG_LAT,
            LSTG_LNG,
            LSTG_DEL,
            LSTG_REG_DATE,
            LSTG_PROD_STAT,
            LSTG_POSTAL
        FROM LISTING
        WHERE LSTG_ID = #{lstgId}
    </select>

    <!-- 매물 수정 -->
    <update id="updateProduct" parameterType="ListingVO">
        UPDATE LISTING
        SET
            LSTG_TYPE_CODE1   = #{lstgTypeCode1},
            LSTG_TYPE_CODE2   = #{lstgTypeCode2},
            LSTG_ADD          = #{lstgAdd},
            LSTG_ADD2         = #{lstgAdd2},
            LSTG_EX_AREA      = #{lstgExArea},
            LSTG_GR_AREA      = #{lstgGrArea},
            LSTG_ROOM_CNT     = #{lstgRoomCnt},
            LSTG_ROOM_NUM     = #{lstgRoomNum},
            LSTG_NM           = #{lstgNm},
            LSTG_DST          = #{lstgDst},
            LSTG_TYPE_SALE    = #{lstgTypeSale},
            LSTG_LEASE        = #{lstgLease},
            LSTG_LEASE_M      = #{lstgLeaseM},
            LSTG_LEASE_AMT    = #{lstgLeaseAmt},
            LSTG_FLOOR        = #{lstgFloor},
            LSTG_PARK_YN         = #{lstgParkYn},
            LSTG_LAT          = #{lstgLat},
            LSTG_LNG          = #{lstgLng},
            LSTG_DEL          = #{lstgDel},
            LSTG_PROD_STAT    = #{lstgProdStat},
            LSTG_FEE          = #{lstgFee}
        WHERE LSTG_ID = #{lstgId}
    </update>

    <!-- 매물 삭제 -->
	<update id="deleteProduct" parameterType="string">
	  UPDATE LISTING
	  SET LSTG_DEL = 'Y'
	  WHERE LSTG_ID = #{lstgId}
	</update>

    <!-- 시설 옵션 전체 조회 -->
    <select id="selectAllFacilityOptions" resultType="kr.or.ddit.vo.FacilityOptionVO">
        SELECT FAC_OPT_NM
				, FAC_OPT_TYPE_CD
				, FAC_OPT_ID
				, FAC_OPT_DESC
				, FAC_TYPE_CC_CD
				, FAC_TYPE_GRP_CD
		FROM FACILITY_OPTION
        ORDER BY FAC_TYPE_GRP_CD, FAC_OPT_NM
    </select>
    
    <select id="commonCodeLstg1List" resultType="kr.or.ddit.vo.CommonCodeVO">
    	select * from common_code
		where code_group = 'LSTG1'
    </select>
    
    <select id="commonCodeLstg2List" resultType="kr.or.ddit.vo.CommonCodeVO">
    	select * from common_code
		where code_group = 'LSTG2'
    </select>
<delete id="deleteOptionByLstgId">
DELETE
FROM LISTING_OPTION
WHERE LSTG_ID=#{lstgId}
</delete>
<update id="updateDelYnListing">
	UPDATE LISTING
	SET LSTG_DEL = 'Y'
	WHERE LSTG_ID = #{lstgId}
	AND MBR_CD = #{mbrCd}
</update>
</mapper>
