<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="kr.or.ddit.main.mapper.SubscribeSubscriptionMapper">
	<resultMap type="SolutionSubscriptionVO" id="solSubMap" autoMapping="true">
		<id property="subsId" column="SUBS_ID"/>
		<association property="solution" javaType="SolutionVO">
			<id property="solId" column="SOL_ID"/>
			<result property="solName" column="SOL_NAME"/>
			<result property="solDesc" column="SOL_DESC"/>
			<result property="solTrialDur" column="SOL_TRIAL_DUR"/>
			<result property="solPrice" column="SOL_PRICE"/>
			<result property="solCycle" column="SOL_CYCLE"/>
			<result property="solIsActive" column="SOL_IS_ACTIVE"/>
			<result property="solActiveGrpCd" column="SOL_ACTIVE_GRP_CD"/>
			<result property="solGrpCd" column="SOL_GRP_CD"/>
			<result property="solCcCd" column="SOL_CC_CD"/>
		</association>
	</resultMap>
<select id="selectSolutionList">
	SELECT SOL_ID
			, SOL_NAME
			, SOL_DESC
			, SOL_TRIAL_DUR
			, SOL_PRICE
			, SOL_CYCLE
			, SOL_IS_ACTIVE
			, SOL_ACTIVE_GRP_CD
			, SOL_CC_CD
			, SOL_GRP_CD
	FROM SOLUTION
	WHERE SOL_ACTIVE_GRP_CD='YNFG' AND SOL_IS_ACTIVE='Y'
</select>
<select id="selectSolution">
	SELECT SOL_ID
			, SOL_NAME
			, SOL_DESC
			, SOL_TRIAL_DUR
			, SOL_PRICE
			, SOL_CYCLE
			, SOL_IS_ACTIVE
			, SOL_ACTIVE_GRP_CD
			, SOL_CC_CD
			, SOL_GRP_CD
	FROM SOLUTION
	WHERE SOL_ID=#{solId} 
	AND SOL_ACTIVE_GRP_CD='YNFG'
	AND SOL_IS_ACTIVE='Y'
</select>
<select id="selectSolutionSubscription">
	SELECT  SUBS_ID
			, SUBS_AUTO_RENEW_GRP_CD
			, SUBS_STATUS_GRP_CD
			, SUBS_REVOKED_AT
			, SUBS_AUTO_RENEW_YN
			, SUBS_STATUS
			, SUBS_EXPIRATION_DATE
			, SUBS_UPDATED_DATE
			, SUBS_STARTED_AT
			, SOL_ID
			, MBR_CD
	FROM SOLUTION_SUBSCRIPTION
	WHERE MBR_CD=#{username} 
	AND SUBS_STATUS='001' 
	AND SUBS_STATUS_GRP_CD = 'SBSTA'
</select>

<select id="selectCommonCodeSolutionList">
	SELECT SOL_ID
			, SOL_NAME
			, SOL_DESC
			, SOL_TRIAL_DUR
			, SOL_PRICE
			, SOL_CYCLE
			, SOL_IS_ACTIVE
			, SOL_ACTIVE_GRP_CD
			, SOL_CC_CD
			, SOL_GRP_CD
	FROM SOLUTION
	WHERE SOL_ACTIVE_GRP_CD='YNFG'
	AND SOL_IS_ACTIVE='Y'
	AND SOL_GRP_CD='SOL'
	AND SOL_CC_CD=#{sol}
</select>

<select id="checkedSolutionSubscription" resultMap="solSubMap">
	SELECT  SUBS_ID
			, SUBS_AUTO_RENEW_GRP_CD
			, SUBS_STATUS_GRP_CD
			, SUBS_REVOKED_AT
			, SUBS_AUTO_RENEW_YN
			, SUBS_STATUS
			, SUBS_EXPIRATION_DATE
			, SUBS_UPDATED_DATE
			, SUBS_STARTED_AT
			, SOL_ID
			, MBR_CD
			, SOL_NAME
			, SOL_DESC
			, SOL_TRIAL_DUR
			, SOL_PRICE
			, SOL_CYCLE
			, SOL_IS_ACTIVE
			, SOL_ACTIVE_GRP_CD
			, SOL_GRP_CD
			, SOL_CC_CD
	FROM SOLUTION_SUBSCRIPTION
	NATURAL JOIN SOLUTION
	WHERE SOL_CC_CD=#{solCcCd}
	AND MBR_CD=#{username} 
	AND SUBS_STATUS = '004'
</select>
<select id="checkedSolutionSubscriptionList" resultMap="solSubMap">
	SELECT  SUBS_ID
			, SUBS_AUTO_RENEW_GRP_CD
			, SUBS_STATUS_GRP_CD
			, SUBS_REVOKED_AT
			, SUBS_AUTO_RENEW_YN
			, SUBS_STATUS
			, SUBS_EXPIRATION_DATE
			, SUBS_UPDATED_DATE
			, SUBS_STARTED_AT
			, SOL_ID
			, MBR_CD
			, SOL_NAME
			, SOL_DESC
			, SOL_TRIAL_DUR
			, SOL_PRICE
			, SOL_CYCLE
			, SOL_IS_ACTIVE
			, SOL_ACTIVE_GRP_CD
			, SOL_GRP_CD
			, SOL_CC_CD
	FROM SOLUTION_SUBSCRIPTION
	NATURAL JOIN SOLUTION
	WHERE MBR_CD=#{username} 
</select>

<select id="selectBrokerCount">
	SELECT COUNT(MBR_CD)
	FROM BROKER
	WHERE MBR_CD=#{username}
</select>
<select id="selectTenancyCount">
	SELECT COUNT(MBR_CD)
	FROM TENANCY
	WHERE MBR_CD=#{username}
</select>
<insert id="insertSolutionSubscription">
	INSERT INTO SOLUTION_SUBSCRIPTION(
		SUBS_ID
		, MBR_CD
		, SOL_ID
		, SUBS_STARTED_AT
		, SUBS_UPDATED_DATE
		, SUBS_EXPIRATION_DATE
		, SUBS_STATUS
		, SUBS_AUTO_RENEW_YN
		, SUBS_REVOKED_AT
		, SUBS_STATUS_GRP_CD
		, SUBS_AUTO_RENEW_GRP_CD
	) VALUES(
		TRIM('S')||TRIM(TO_CHAR(SEQ_SUBS_ID.NEXTVAL,'00000'))
		, #{mbrCd}
		, #{solId}
		, SYSDATE
		, #{subsUpdatedDate}
		, #{subsExpirationDate}
		, '001'
		, #{subsAutoRenewYn}
		, #{subsRevokedAt}
		, 'SBSTA'
		, 'RCPAY'
	)
</insert>

<insert id="insertBroker">
	INSERT INTO BROKER(
		MBR_CD
		, BROK_NM
		, BROK_REG_NO
		, CRTF_NO
		, REPR_NM
		, REPR_TEL_NO
		, REG_DTM
		, BROK_ADDR2
		, BROK_ADDR1
		, AUTH_APPR_YN
		, AUTH_GRP_CD
	)VALUES(
		#{mbrCd}
		, #{brokNm}
		, #{brokRegNo}
		, #{crtfNo}
		, #{reprNm}
		, #{reprTelNo}
		, #{regDtm}
		, #{brokAddr2}
		, #{brokAddr1}
		, 'W'
		, 'APST'
	)

</insert>

<insert id="insertTenancy">
	INSERT INTO TENANCY(
		RENTAL_PTY_ID
		, RENTAL_PTY_BIZ_REG_FILE_PATH
		, RENTAL_PTY_REG_BLDG_CNT
		, RENTAL_PTY_BIZ_REG_NO
		, RENTAL_PTY_FILE
		, RENTAL_PTY_FILE2
		, LSR_YN_TYPE_CD
		, MBR_CD
		, LSR_TYPE_GROUP_CD
		, AUTH_APPR_YN
		, AUTH_GRP_CD
	)VALUES(
		#{rentalPtyId}
		, #{rentalPtyBizRegFilePath}
		, 0
		, #{rentalPtyBizRegNo}
		, #{rentalPtyFile}
		, #{rentalPtyFile2}
		, #{lsrYnTypeCd}
		, #{mbrCd}
		, #{lsrTypeGroupCd}
		, 'W'
		, 'APST'
	)
</insert>
<insert id="insertSubscriptionBillingKey">
INSERT INTO SOLUTION_SUBSCRIPTION_AUTOPAY_METHOD (
    AUTOMETH_ID
    , MBR_CD
    , AUTOMETH_PAYTYPE
    , AUTOMETH_PROVIDER
    , AUTOMETH_BILLINGKEY
    , AUTOMETH_VRTACCT
    , AUTOMETH_STARTED_AT
    , AUTOMETH_REVOKED_AT
    , AUTOMETH_IS_ACTIVE
    , AUTOMETH_PAYTYPE_GRP_CD
    , AUTOMETH_IS_ACTIVE_GRP_CD
) VALUES (
    #{automethId}
    , #{mbrCd}
    , #{automethPaytype}
    , #{automethProvider}
    , #{automethBillingkey}
    , #{automethVrtacct}
    , #{automethStartedAt}
    , #{automethRevokedAt}
    , #{automethIsActive}
    , #{automethPaytypeGrpCd}
    , #{automethIsActiveGrpCd}
)

</insert>

<insert id="insertSubscriptionPayment">
INSERT INTO SOLUTION_SUBSCRIPTION_PAYMENT (
SUBS_PAYMENT_ID
, SUBS_ID
, AUTOMETH_ID
, BILLING_KEY
, CUSTOMER_KEY
, SUBS_PAYMENT_FAIL_MSG
, CARD_ID
, MBR_CD
) VALUES (
  #{subsPaymentId}
, #{subsId}
, #{automethId}
, #{billingKey}
, #{customerKey}
, #{subsPaymentFailMsg}
, #{cardId}
, #{mbrCd}
)

</insert>
<insert id="insertRoleAchived">
INSERT INTO ROLE_ACHIEVED (
    MBR_CD
    , USER_ROLE_ID
) VALUES (
    #{mbrCd},
    #{userRoleId}
)
</insert>
<insert id="insertCard">
INSERT INTO CARD(
	CARD_ID
	, AMOUNT
	, ISSUER_CODE
	, ACQUIRER_CODE
	, CARD_NUMBER
	, INSTALLMENT_PLAN_MONTHS
	, APPROVE_NO, USE_CARD_POINT
	, CARD_TYPE
	, OWNER_TYPE
	, ACQUIRE_STATUS
	, ISINTEREST_FREE
	, INTEREST_PAYER
	, MBR_CD
) VALUES (
	 #{cardId}
	 , #{amount}
	 , #{issuerCode}
	 , #{acquirerCode}
	 , #{cardNumber}
	 , #{installmentPlanMonths}
	 , #{approveNo}
	 , #{useCardPoint}
	 , #{cardType}
	 , #{ownerType}
	 , #{acquireStatus}
	 , #{isinterestFree}
	 , #{interestPayer}
	 , #{mbrCd}
)
</insert>
<insert id="insertVirtualAccount">
INSERT INTO VIRTUAL_ACCOUNT (
    VIRTUAL_ACCOUNT_ID,
    ACCOUNT_TYPE,
    ACCOUNT_NUMBER,
    BANK_CODE,
    CUSTOMER_NAME,
    DUE_DATE,
    EXPIRED,
    SETTLEMENT_STATUS,
    SECRET,
    MBR_CD
) VALUES (
	#{virtualAccountId}
	, #{accountType}
	, #{accountNumber}
	, #{bankCode}
	, #{customerName}
	, #{dueDate}
	, #{expired}
	, #{settlementStatus}
	, #{secret}
	, #{mbrCd}
)
</insert>
<insert id="insertEasyPay">
INSERT INTO EASY_PAY (
    EASY_PAY_ID,
    PROVIDER,
    AMOUNT,
    DISCOUNT_AMOUNT,
    MBR_CD
) VALUES (
	#{easyPayId}
	, #{provider}
	, #{amount}
	, #{discountAmount}
	, #{mbrCd}
)
</insert>
<select id="selectTenancy">
SELECT RENTAL_PTY_ID
	, RENTAL_PTY_BIZ_REG_FILE_PATH
	, RENTAL_PTY_REG_BLDG_CNT
	, RENTAL_PTY_BIZ_REG_NO
	, RENTAL_PTY_FILE
	, RENTAL_PTY_FILE2
	, LSR_YN_TYPE_CD
	, MBR_CD
	, LSR_TYPE_GROUP_CD
	, AUTH_APPR_YN
	, AUTH_GRP_CD
	, AUTH_APPR_DT
FROM TENANCY
WHERE MBR_CD = #{mbrCd}
</select>
<select id="selectBroker">
SELECT MBR_CD
	, BROK_NM
	, BROK_REG_NO
	, CRTF_NO
	, REPR_NM
	, REPR_TEL_NO
	, REG_DTM
	, BROK_ADDR2
	, BROK_ADDR1
	, AUTH_APPR_YN
	, BROK_ZIP
	, AUTH_GRP_CD
	, AUTH_APPR_DT
FROM BROKER
WHERE MBR_CD = #{mbrCd}
</select>
</mapper>