@charset "UTF-8";

/* === TAB STYLES === */
.nav-tabs {
	background-color: #f8f9fa;
	border-bottom: 1px solid #ebeef0;
}

.nav-tabs>li {
	border-right: 1px solid #ebeef0;
}

.nav-tabs>li>a {
	border-radius: 0;
	color: #555;
	padding: 15px 20px;
	font-weight: normal;
	margin-right: 0;
	cursor: pointer;
	border: 1px solid transparent !important;
	display: block;
	text-decoration: none;
}

.nav-tabs>li>a:hover {
	background-color: #fafbfc;
	color: #0078bd;
	border-bottom: 1px solid #ebeef0 !important;
}

.nav-tabs>li.active>a {
	color: #1a1a1a;
	background-color: #ffffff;
	border-bottom: 1px solid white !important;
}

.nav-tabs>li.active>a:hover {
	border-bottom: 1px solid transparent !important;
}

/* Custom tab highlight (bottom border only for active tab) */
.nav.customtab {
	background-color: transparent;
	border-bottom: 1px solid #ccc;
}

.nav.customtab>li {
	border: none;
}

.nav.customtab>li a, .nav.customtab>li a:hover, .nav.customtab>li a:focus
	{
	background: transparent;
	border: none;
	color: #333;
}

.nav.customtab>li.active a, .nav.customtab>li.active a:hover, .nav.customtab>li.active a:focus
	{
	border-bottom: 2px solid #458ab6 !important;
	color: #458ab6;
	font-weight: bold;
}

/* 첨부파일 아이콘 hover 효과 (선택) */
.table td img {
  cursor: pointer;
  opacity: 0.85;
  transition: 0.2s;
}

.table td img:hover {
  opacity: 1;
}

/* FAQ, QNA 테이블 뒷 배경 흰색으로 */
.table.faq-table tbody tr:nth-child(even),
.table.qna-table tbody tr:nth-child(even) {
  background-color: #fff !important;
}

/* 공지사항 공지 유형 별 CSS */
.badge {
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
}

.badge-normal {
  background-color: #e2e3e5;
  color: #333;
}

.badge-danger {
  background-color: #dc3545;
  color: #fff;
}

.badge-event {
  background-color: #ffc107;
  color: #212529;
}

.badge-etc {
  background-color: #6c757d;
  color: #fff;
}
