@charset "UTF-8";

/* 모달의 select 박스 크기 조절 */
#modalNewMbrStatus, #modalRptStatusCode, #modalNewLtsgDel {
	width: auto;
	height: 100%;
}

#reportedUserTable tbody tr:hover {
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능함을 시각적으로 알림 */
}
#reportedUserTable tbody tr:hover td {
	color: #f3c78e; /* 원하는 색상으로 변경(초기화 버튼이랑 같은 색) */
}

#btnProcessAllChanges {
	background-color: black;
	border-color: black;
}

/* 신고기간 버튼 마진 삭제 */
#brdPblsDtmFrom {
	margin-right: 0px;
}


.modal-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.modal-body .file-link {
    display: block;
    margin-bottom: 5px;
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}
.modal-body .file-link:hover {
    text-decoration: underline;
}
#attachFilesSection {
    margin-top: 15px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}
#attachFilesSection h5 {
    margin-bottom: 10px;
    color: #343a40;
}
.modal-dialog.modal-lg .modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.alert-secondary {
    white-space: pre-wrap;
    word-break: break-all; /* 긴 문자열이 있을 때 넘치지 않도록 강제 줄바꿈 */
}

/* 탭 스타일 추가 */
.nav-tabs .nav-item .nav-link {
    cursor: pointer;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: .5rem 1rem;
    color: #495057;
}
.nav-tabs .nav-item .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
}