<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.resident.mapper.ScheduleMapper">

    <!-- 일정 생성 -->
	<insert id="createSchedule">
	  INSERT INTO SCHEDULE (
	    scd_id, mbr_cd, scd_titl_nm, scd_cont, 
	    scd_str_dtm, scd_end_dtm, scd_rpt_set_cont,
	    scd_del_yn
	  )
	  VALUES (
	    #{scdId}, #{mbrCd}, #{scdTitlNm}, #{scdCont,jdbcType=VARCHAR},
	    #{scdStrDtm}, #{scdEndDtm}, #{scdRptSetCont,jdbcType=VARCHAR},
	    'N'
	  )   
	</insert>

    <!-- 일정 수정 -->
    <update id="updateSchedule">
        UPDATE SCHEDULE
        SET
            scd_titl_nm = #{scdTitlNm},
            scd_cont = #{scdCont},
            scd_str_dtm = #{scdStrDtm},
            scd_end_dtm = #{scdEndDtm},
            scd_rpt_set_cont = #{scdRptSetCont}
        WHERE scd_id = #{scdId}
    </update>
    
    <!-- 일정 삭제 -->
    <update id="deleteSchedule">
		  UPDATE SCHEDULE
		  SET scd_del_yn = 'Y'
		  WHERE scd_id = #{scdId}
		</update>
    
	<select id="getAllSchedules" resultType="kr.or.ddit.vo.ScheduleVO">
	  SELECT *
	  FROM SCHEDULE
	  WHERE scd_del_yn = 'N'
	  ORDER BY scd_str_dtm DESC
	</select>
    
    <!-- 일정 상세 조회 -->
    <select id="getScheduleById" resultType="kr.or.ddit.vo.ScheduleVO">
        SELECT * FROM SCHEDULE WHERE scd_id = #{scdId}
    </select>
    
    <select id="selectMaxScheduleId" resultType="String">
    	SELECT MAX(SCD_ID) FROM SCHEDULE
    </select>
</mapper>
