<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.member.mapper.MemberMapper">
<resultMap type="MemberVO" id="memberMap" autoMapping="true">
		<id property="mbrCd" column="MBR_CD"/>
		<collection property="memRoleList" javaType="list" ofType="RoleAchievedVO">
			<id property="mbrCd" column="MBR_CD"/>			
			<id property="userRoleId" column="USER_ROLE_ID"/>
		</collection>
	</resultMap>
<select id="selectMemberList" resultMap="memberMap">
		SELECT MBR_CD
				, MBR_ID
				, MBR_PW
				, MBR_NM
				, MBR_NNM
				, MBR_TELNO
				, MBR_EML_ADDR
				, MBR_BASIC_ADDR
				, MBR_DETAIL_ADDR
				, MBR_PROFIL_IMAGE
				, MBR_FRST_REG_DT
				, MBR_STATUS_CODE
				, MBR_DELETE_DATE
				, MBR_ZIP
				, USER_ROLE_ID
		FROM MEMBER NATURAL JOIN ROLE_ACHIEVED
</select>
<select id="selectMemberByUsername" parameterType="String" resultMap="memberMap">
		SELECT MBR_CD
				, MBR_ID
				, MBR_PW
				, MBR_NM
				, MBR_NNM
				, MBR_TELNO
				, MBR_EML_ADDR
				, MBR_BASIC_ADDR
				, MBR_DETAIL_ADDR
				, MBR_PROFIL_IMAGE
				, MBR_FRST_REG_DT
				, MBR_STATUS_CODE
				, MBR_DELETE_DATE
				, MBR_ZIP
				, USER_ROLE_ID
		FROM MEMBER NATURAL JOIN ROLE_ACHIEVED
		WHERE MBR_ID = #{username}
	</select>

<select id="selectMemberByMail" parameterType="String" resultMap="memberMap">
		SELECT MBR_CD
				, MBR_ID
				, MBR_PW
				, MBR_NM
				, MBR_NNM
				, MBR_TELNO
				, MBR_EML_ADDR
				, MBR_BASIC_ADDR
				, MBR_DETAIL_ADDR
				, MBR_PROFIL_IMAGE
				, MBR_FRST_REG_DT
				, MBR_STATUS_CODE
				, MBR_DELETE_DATE
				, MBR_ZIP
				, USER_ROLE_ID
		FROM MEMBER NATURAL JOIN ROLE_ACHIEVED
		WHERE MBR_EML_ADDR = #{mail}
	</select>

	<insert id="insertMember">
		INSERT INTO MEMBER(
			MBR_CD
			, MBR_ID
			, MBR_PW
			, MBR_NM
			, MBR_NNM
			, MBR_TELNO
			, MBR_EML_ADDR
			, MBR_BASIC_ADDR
			, MBR_DETAIL_ADDR
			, MBR_PROFIL_IMAGE
			, MBR_FRST_REG_DT
			, MBR_STATUS_CODE
			, MBR_DELETE_DATE
			, MBR_ZIP
		) VALUES(
			'M'||TRIM(TO_CHAR(SYSDATE,'YYMM'))||TRIM(TO_CHAR(SEQ_MBR_CD.NEXTVAL,'000000'))
			, #{mbrId}
			, #{mbrPw}
			, #{mbrNm}
			, #{mbrNnm}
			, #{mbrTelno}
			, #{mbrEmlAddr}
			, #{mbrBasicAddr}
			, #{mbrDetailAddr}
			, #{mbrProfilImage}
			, #{mbrFrstRegDt}
			, #{mbrStatusCode}
			, #{mbrDeleteDate}
			, #{mbrZip}
		)
	</insert>
	<update id="updateMemDelete">
		UPDATE MEMBER
		SET MEM_DELETE='T'
		WHERE MEM_ID= #{username}
	</update>
	<update id="updateMember">
		UPDATE 	MEMBER
		SET
			MBR_NM = #{mbrNm}
			MBR_NNM = #{mbrNnm}
			MBR_TELNO = #{mbrTelno}
			MBR_EML_ADDR = #{mbrEmlAddr}
			MBR_ZIP = #{mbrZip}
			MBR_BASIC_ADDR = #{mbrBasicAddr}
			MBR_DETAIL_ADDR = #{mbrDetailAddr}
			<if test="mbrProfilImage neq null">
			MBR_PROFIL_IMAGE = #{mbrProfilImage}
			</if>
		WHERE MBR_CD = #{mbrCd}
	</update>
</mapper>