<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.admin.mapper.ManageMemberMapper">
<resultMap type="MemberVO" id="memberMap" autoMapping="true">
		<id property="mbrCd" column="MBR_CD"/>
		<collection property="memRoleList" javaType="list" ofType="RoleAchievedVO">
			<id property="mbrCd" column="MBR_CD"/>
			<id property="userRoleId" column="USER_ROLE_ID"/>
		</collection>
</resultMap>

<select id="selectMemberList" resultMap="memberMap">
		SELECT MBR.MBR_CD
				, MBR.MBR_ID
				, MBR.MBR_PW
				, MBR.MBR_NM
				, MBR.MBR_NNM
				, MBR.MBR_TELNO
				, MBR.MBR_EML_ADDR
				, MBR.MBR_BASIC_ADDR
				, MBR.MBR_DETAIL_ADDR
				, MBR.MBR_PROFIL_IMAGE
				, MBR.MBR_FRST_REG_DT
				, MBR.MBR_STATUS_CODE
				, MBR.MBR_DELETE_DATE
				, MBR.MBR_ZIP
				, RA.USER_ROLE_ID
		FROM MEMBER MBR
		INNER JOIN ROLE_ACHIEVED RA ON MBR.MBR_CD = RA.MBR_CD <where>
      <if test="userRoleId != null and userRoleId.size() > 0">
        AND RA.USER_ROLE_ID IN
        <foreach item="roleId" collection="userRoleId" open="(" separator="," close=")">
          #{roleId}
        </foreach>
      </if>
      <if test="mbrId != null and mbrId != ''">
        AND MBR.MBR_ID LIKE '%' || #{mbrId} || '%'
      </if>
      <if test="mbrFrstRegDtFrom != null">
        AND MBR.MBR_FRST_REG_DT &gt;= #{mbrFrstRegDtFrom}
      </if>
      <if test="mbrFrstRegDtTo != null">
  		AND MBR.MBR_FRST_REG_DT &lt; TRUNC(#{mbrFrstRegDtTo}) + 1
	  </if>
      <if test="mbrStatusCode != null and mbrStatusCode != ''">
        AND MBR.MBR_STATUS_CODE = #{mbrStatusCode}
      </if>
      <if test="mbrEmlAddr != null and mbrEmlAddr != ''">
        AND MBR.MBR_EML_ADDR LIKE '%' || #{mbrEmlAddr} || '%'
      </if>
    </where>
    ORDER BY MBR.MBR_FRST_REG_DT DESC
</select>

</mapper>