<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.admin.mapper.NoticePostMapper">

	<select id="selectBoardList" parameterType="kr.or.ddit.util.page.PaginationInfo" resultType="map">
		SELECT *
		FROM (
			SELECT ROWNUM rn, inner.*
			FROM (
				SELECT
					BD.BRD_NO,
					BD.BRD_TITL_NM,
					BD.BRD_CONT,
					BD.BRD_PBLS_DTM,
					BD.BRD_VW_CNT,
					BD.BRD_END_DTM,
					BD.BRD_DEL_YN,
					BD.BRD_CTGRY_GRP_CD,
					MEM.MBR_ID,
					MEM.MBR_CD,
					C.CODE_VALUE AS BRD_CTGRY_VALUE,
					C.CODE_NAME AS BRD_CTGRY_NAME
				FROM BOARD BD
				LEFT JOIN MEMBER MEM 
					ON BD.MBR_CD = MEM.MBR_CD
				LEFT JOIN COMMON_CODE C 
					ON C.CODE_GROUP = BD.BRD_CTGRY_GRP_CD
				WHERE 
					BD.BRD_DEL_YN = 'N'
					<if test="detailSearch.brdCtgryGrpCd != null and detailSearch.brdCtgryGrpCd != ''">
						AND BD.BRD_CTGRY_GRP_CD = #{detailSearch.brdCtgryGrpCd}
					</if>
					<if test="detailSearch.brdCtgryGrpCd == 'BRDCT' and detailSearch.brdCtgryValue != null">
						AND C.CODE_VALUE = #{detailSearch.brdCtgryValue}
					</if>
					<if test="detailSearch.brdCtgryGrpCd == 'BRDCT' and detailSearch.brdCtgryValue == '007'">
						AND (BD.BRD_END_DTM IS NULL OR BD.BRD_END_DTM >= SYSDATE)
					</if>
				ORDER BY BD.BRD_PBLS_DTM DESC
			) inner
			WHERE ROWNUM &lt;= #{lastRecordIndex}
		)
		WHERE rn &gt;= #{firstRecordIndex}
	</select>


	<select id="selectBoardById" parameterType="String" resultType="map">
		SELECT
			BD.BRD_NO,
			BD.BRD_TITL_NM,
			BD.BRD_CONT,
			BD.BRD_PBLS_DTM,
			BD.BRD_VW_CNT,
			BD.BRD_END_DTM,
			BD.BRD_DEL_YN,
			BD.BRD_CTGRY_GRP_CD,
			MEM.MBR_ID,
			MEM.MBR_CD,
			C.CODE_NAME AS BRD_CTGRY_NAME
		FROM BOARD BD
		LEFT JOIN MEMBER MEM ON BD.MBR_CD = MEM.MBR_CD
		LEFT JOIN COMMON_CODE C 
			ON C.CODE_GROUP = BD.BRD_CTGRY_GRP_CD
		WHERE BD.BRD_NO = #{brdNo}
	</select>

	<insert id="insertBoard" parameterType="kr.or.ddit.vo.BoardVO">
		<selectKey keyProperty="brdNo" order="BEFORE" resultType="String">
			SELECT TO_CHAR(SEQ_BRD_NO.NEXTVAL) FROM DUAL
		</selectKey>
		INSERT INTO BOARD (
			BRD_NO,
			MBR_CD,
			BRD_TITL_NM,
			BRD_CONT,
			BRD_PBLS_DTM,
			BRD_VW_CNT,
			BRD_DEL_YN,
			BRD_DEL_YN_GRP_CD,
			BRD_CTGRY_GRP_CD
			<if test="brdEndDtm != null and brdEndDtm != ''">
				, BRD_END_DTM
			</if>
		) VALUES (
			#{brdNo},
			#{mbrCd},
			#{brdTitlNm},
			#{brdCont},
			SYSDATE,
			0,
			'N',
			#{brdDelYnGrpCd},
			#{brdCtgryGrpCd}
			<if test="brdEndDtm != null and brdEndDtm != ''">
				, #{brdEndDtm}
			</if>
		)
	</insert>

	<update id="updateBoard" parameterType="kr.or.ddit.vo.BoardVO">
		UPDATE BOARD
		SET
			BRD_TITL_NM = #{brdTitlNm},
			BRD_CONT = #{brdCont},
			BRD_MOD_DTM = SYSDATE,
			BRD_CTGRY_GRP_CD = #{brdCtgryGrpCd},
			BRD_END_DTM = #{brdEndDtm}
		WHERE
			BRD_NO = #{brdNo}
			AND BRD_DEL_YN = 'N'
	</update>
	
	<update id="deleteBoard" parameterType="String">
		UPDATE BOARD
		SET
			BRD_DEL_YN = 'Y'
		WHERE 
			BRD_NO = #{brdNo}
			AND BRD_DEL_YN = 'N'
	</update>


	<select id="selectTotalBoardRecord" resultType="int" parameterType="kr.or.ddit.util.page.PaginationInfo">
		SELECT COUNT(*)
		FROM BOARD
		WHERE 
			BRD_DEL_YN = 'N'
		<if test="detailSearch.brdCtgryGrpCd != null and detailSearch.brdCtgryGrpCd != ''">
			AND BRD_CTGRY_GRP_CD = #{detailSearch.brdCtgryGrpCd}
		</if>
	</select>

</mapper>
