<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.admin.board.mapper.NoticePostMapper">
	<select id="selectNoticeList" resultType="BoardVO">
		SELECT 
			BRD_NO,
			BRD_CODE,
			MBR_CD,
			BRD_TITL_NM,
			BRD_CONT,
			BRD_PBLS_DTM,
			BRD_VM_CNT,
			BRD_MOD_DTM,
			BRD_DEL_YN
		FROM
			BOARD
	</select>
</mapper>