@charset "UTF-8";

#resetButton {
	background-color: var(--color-btn-warning);
 	color: #000;
}

#searchButton {
	background-color: black;
 	color: white;
}

.save-button{
	margin-left: 1030px;
}

/* 또는 search-item 컨테이너의 너비를 조정 (더 일반적으로 사용) */
.search-item:has(label[for="memberStatusSelect"]) { /* label이 "회원상태"인 search-item */
    flex: 0 0 330px; /* 너비를 200px로 고정, 줄어들거나 늘어나지 않음 */
    /* 또는 width: 200px; */
}

.search-item:has(label[for="memberEmailInput"]) { /* label이 "회원상태"인 search-item */
    flex: 0 0 332px; /* 너비를 200px로 고정, 줄어들거나 늘어나지 않음 */
    /* 또는 width: 200px; */
}

