<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ddit.broker.mapper.BrokerIntroCardMapper">

  <!-- 1. 소개카드 단건 조회 (가장 최근 등록) -->
  <select id="selectIntroCardByMember" parameterType="string" resultType="kr.or.ddit.vo.FileVO">
    SELECT *
      FROM FILES
     WHERE FILE_SOURCE_REF = 'BROKER_INTRO'
       AND FILE_SOURCE_ID = #{mbrCd}
       AND DOC_TYPE_CD = #{docTypeCd}  <!-- DESC_{mbrCd} 형식 -->
     ORDER BY REG_DTM DESC
     FETCH FIRST 1 ROWS ONLY
  </select>

  <!-- 2. 소개카드 이미지 저장 (INSERT) -->
  <insert id="insertIntroCardFile" parameterType="kr.or.ddit.vo.FileVO">
    INSERT INTO FILES (
      FILE_ID, FILE_ATTACH_SEQ, FILE_SOURCE_REF, FILE_SOURCE_ID,
      FILE_ORIGINALNAME, FILE_SAVEDNAME, FILE_MIME, FILE_DIR,
      FILE_SIZE, DOC_TYPE_CD, FILE_PATH_URL, REG_DTM
    ) VALUES (
      #{fileId}, #{fileAttachSeq}, #{fileSourceRef}, #{fileSourceId},
      #{fileOriginalname}, #{fileSavedname}, #{fileMime}, #{fileDir},
      #{fileSize}, #{docTypeCd}, #{filePathUrl}, SYSDATE
    )
  </insert>

  <!-- 3. 소개카드 이미지 삭제 -->
  <delete id="deleteIntroCardFile" parameterType="map">
    DELETE FROM FILES
     WHERE FILE_ID = #{fileId}
       AND FILE_ATTACH_SEQ = #{fileAttachSeq}
       AND FILE_SOURCE_REF = 'BROKER_INTRO'
  </delete>



</mapper>
