<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.broker.mapper.BrokerMapper">
<!-- 
	@author developer_KCY
	
	
	- 2025-07-09 최초작성
	- 2025-07-10 매일수정중
 -->
<!-- <resultMap id="SignerResultMap" type="SignerVO">
    <result property="isJoined" column="IS_JOINED" typeHandler="kr.or.ddit.util.parse.BooleanYNTypeHandler"/>
    <result property="signedAt" column="SIGNED_AT" typeHandler="kr.or.ddit.util.parse.LocalDateTimeStringTypeHandler"/>
    <result property="isSigned" column="IS_SIGNED" typeHandler="kr.or.ddit.util.parse.BooleanYNTypeHandler"/>
    <result property="isValid" column="IS_VALID" typeHandler="kr.or.ddit.util.parse.BooleanYNTypeHandler"/>
</resultMap> -->

<!-- Facility Option 정보 매핑 -->
<resultMap id="ListingOptionMap" type="ListingOptionVO">
	<result property="lstgId" column="LSTG_ID_LF" />
	<result property="facOptId" column="FAC_OPT_ID" /> 
	<result property="facOptTypeCd" column="FAC_OPT_TYPE_CD" />
	<result property="facOptNm" column="FAC_OPT_NM" />
	<result property="facOptDesc" column="FAC_OPT_DESC" />
	<result property="facTypeCcCd" column="FAC_TYPE_CC_CD" />
	<result property="facTypeGrpCd" column="FAC_TYPE_GRP_CD" />
</resultMap>

<!-- Tenancy 정보 매핑 -->
<resultMap id="TenancyMap" type="TenancyVO">
	<result property="mbrCd"           column="MBR_CD_T" />
	<result property="mbrId"           column="MBR_ID_T" />
	<result property="mbrPw"           column="MBR_PW_T" />
	<result property="mbrNm"           column="MBR_NM_T" />
	<result property="mbrNnm"          column="MBR_NNM_T" />
	<result property="mbrTelno"        column="MBR_TELNO_T" />
	<result property="mbrEmlAddr"      column="MBR_EML_ADDR_T" />
	<result property="mbrBasicAddr"    column="MBR_BASIC_ADDR_T" />
	<result property="mbrDetailAddr"   column="MBR_DETAIL_ADDR_T" />
	<result property="mbrProfilImage"  column="MBR_PROFIL_IMAGE_T" />
	<result property="mbrFrstRegDt"    column="MBR_FRST_REG_DT_T" />
	<result property="mbrStatusCode"   column="MBR_STATUS_CODE_T" />
	<result property="mbrDeleteDate"   column="MBR_DELETE_DATE_T" />
	<result property="mbrZip"          column="MBR_ZIP_T" />
	<result property="authApprYn" 	   column="AUTH_APPR_YN_T" />
	<result property="lsrTypeGroupCd"  column="LSR_TYPE_GROUP_CD" />
	<result property="lsrYnTypeCd" 	   column="LSR_YN_TYPE_CD" />
	<result property="rentalPtyBizRegFilePath" column="RENTAL_PTY_BIZ_REG_FILE_PATH" />
	<result property="rentalPtyBizRegNo" 	   column="RENTAL_PTY_BIZ_REG_NO" />
	<result property="rentalPtyFile"   column="RENTAL_PTY_FILE" />
	<result property="rentalPtyFile2"  column="RENTAL_PTY_FILE2" />
	<result property="rentalPtyId" 	   column="RENTAL_PTY_ID_T" />
	<result property="rentalPtyRegBldgCnt" 	   column="RENTAL_PTY_REG_BLDG_CNT" />
</resultMap>

<!-- Broker 정보 매핑 -->
<resultMap id="BrokerMap" type="BrokerVO">
	<result property="mbrCd"          column="MBR_CD_B" />
	<result property="mbrId"          column="MBR_ID_B" />
	<result property="mbrPw"          column="MBR_PW_B" />
	<result property="mbrNm"          column="MBR_NM_B" />
	<result property="mbrNnm"         column="MBR_NNM_B" />
	<result property="mbrTelno"       column="MBR_TELNO_B" />
	<result property="mbrEmlAddr"     column="MBR_EML_ADDR_B" />
	<result property="mbrBasicAddr"   column="MBR_BASIC_ADDR_B" />
	<result property="mbrDetailAddr"  column="MBR_DETAIL_ADDR_B" />
	<result property="mbrProfilImage" column="MBR_PROFIL_IMAGE_B" />
	<result property="mbrFrstRegDt"   column="MBR_FRST_REG_DT_B" />
	<result property="mbrStatusCode"  column="MBR_STATUS_CODE_B" />
	<result property="mbrDeleteDate"  column="MBR_DELETE_DATE_B" />
	<result property="mbrZip"         column="MBR_ZIP_B" />
	<result property="authApprYn" 	  column="AUTH_APPR_YN_B" />
	<result property="brokAddr1" 	  column="BROK_ADDR1" />
	<result property="brokAddr2" 	  column="BROK_ADDR2" />
	<result property="brokNm" 		  column="BROK_NM" />
	<result property="brokRegNo" 	  column="BROK_REG_NO" />
	<result property="crtfNo" 		  column="CRTF_NO" />
	<result property="regDtm" 		  column="REG_DTM" />
	<result property="reprNm" 		  column="REPR_NM" />
	<result property="reprTelNo" 	  column="REPR_TEL_NO" />
</resultMap>

<!-- 최종 매물 정보 -->
<resultMap id="ListingMap" type="ListingVO" autoMapping="true">
	<id property="lstgId" column="LSTG_ID" />
	<association property="tenancyInfo" resultMap="TenancyMap" />
	<association property="brokerInfo" resultMap="BrokerMap" />
	<collection property="facOptions" javaType="List" ofType="ListingOptionVO" >
		<id property="lstgId" 			  column="LSTG_ID_LF" />
		<id property="facOptId" 	  column="FAC_OPT_ID" /> 
		<result property="facOptTypeCd"   column="FAC_OPT_TYPE_CD" />
		<result property="facOptNm" 	  column="FAC_OPT_NM" />
		<result property="facOptDesc" 	  column="FAC_OPT_DESC" />
		<result property="facTypeCcCd" column="FAC_TYPE_CC_CD" />
		<result property="facTypeGrpCd" column="FAC_TYPE_GRP_CD" />
	</collection>
	<collection property="listingFiles" javaType="List" ofType="FileVO">
		<id property="fileId" column="FILE_ID"/>
		<result property="fileAttachSeq" column="FILE_ATTACH_SEQ"/>
		<result property="fileSourceRef" column="FILE_SOURCE_REF"/>
		<result property="fileSavedname" column="FILE_SAVEDNAME"/>
		<result property="fileMime" column="FILE_MIME"/>
		<result property="fileSize" column="FILE_SIZE"/>
		<result property="docTypeCd" column="DOC_TYPE_CD"/>
		<result property="filePathUrl" column="FILE_PATH_URL"/>
		<result property="regDtm" column="REG_DTM"/>
		<result property="fileSourceId" column="FILE_SOURCE_ID"/>
		<result property="fileDir" column="FILE_DIR"/>
		<result property="fileOriginalname" column="FILE_ORIGINALNAME"/>
	</collection>
</resultMap>

<resultMap id="LesseeMemberMap" type="MemberVO">
	<result property="mbrCd" column="MBR_CD_LS" />
	<result property="mbrId" column="MBR_ID_LS" />
	<result property="mbrPw" column="MBR_PW_LS" />
	<result property="mbrNm" column="MBR_NM_LS" />
	<result property="mbrNnm" column="MBR_NNM_LS" />
	<result property="mbrTelno" column="MBR_TELNO_LS" />
	<result property="mbrEmlAddr" column="MBR_EML_ADDR_LS" />
	<result property="mbrBasicAddr" column="MBR_BASIC_ADDR_LS" />
	<result property="mbrDetailAddr" column="MBR_DETAIL_ADDR_LS" />
	<result property="mbrProfilImage" column="MBR_PROFIL_IMAGE_LS" />
	<result property="mbrFrstRegDt" column="MBR_FRST_REG_DT_LS" />
	<result property="mbrStatusCode" column="MBR_STATUS_CODE_LS" />
	<result property="mbrDeleteDate" column="MBR_DELETE_DATE_LS" />
	<result property="mbrZip" column="MBR_ZIP_LS" />
</resultMap>

<resultMap id="ContractMap" type="ContractVO" autoMapping="true">
	<id property="contId" column="CONT_ID" />
	<result property="mbrCdBrok" column="MBR_CD_BROK" />
	<result property="lstgId" column="LSTG_ID" />
	<result property="contTypeCode" column="CONT_TYPE_CODE" />
	<result property="contTypeGroupCd" column="CONT_TYPE_GROUP_CD" />
	<result property="contDeposit" column="CONT_DEPOSIT" />
	<result property="contTaxAmount" column="CONT_TAX_AMOUNT" />
	<result property="contAmount" column="CONT_AMOUNT" />
	<result property="contStatCd" column="CONT_STAT_CD" />
	<result property="contDtm" column="CONT_DTM" />
	<result property="contStatGroupCd" column="CONT_STAT_GROUP_CD" />
	<result property="contLesseeTelno" column="CONT_LESSEE_TELNO" />
	<result property="contTenancyTelno" column="CONT_TENANCY_TELNO" />
	<result property="contBrokerTelno" column="CONT_BROKER_TELNO" />

	<association property="brokerInfo" resultMap="BrokerMap" />
	<association property="tenancyInfo" resultMap="TenancyMap" />
	<association property="lesseeInfo" resultMap="LesseeMemberMap" />
	<association property="listingInfo" resultMap="ListingMap" />
</resultMap>

<sql id="sqlSelectLstgList">
	SELECT L.*
	       ,TI.*
	       ,BI.*
	       ,LF.*
	  FROM LISTING L
	  LEFT OUTER JOIN V_TENANCY_INFO TI ON(L.RENTAL_PTY_ID = TI.RENTAL_PTY_ID_T)
	  LEFT OUTER JOIN V_BROKER_INFO BI ON(L.MBR_CD = BI.MBR_CD_B)
	  LEFT OUTER JOIN V_LISTING_FACILITY LF ON(L.LSTG_ID = LF.LSTG_ID_LF)
	 WHERE L.MBR_CD = #{mbrCd}
	 AND L.LSTG_DEL = 'N'
</sql>

<select id="selectLstgList" parameterType="String" resultMap="ListingMap">
	<include refid="sqlSelectLstgList" />
	   AND L.LSTG_DEL = 'N'
	 ORDER BY L.LSTG_REG_DATE DESC
</select>
<select id="selectLstgListForContract" parameterType="String" resultMap="ListingMap">
	<include refid="sqlSelectLstgList" />
	   AND L.LSTG_PROD_STAT = '001'
	   AND L.LSTG_DEL = 'N'
	 ORDER BY L.LSTG_ID ASC
</select>
<select id="selectLstgDetails" parameterType="Map" resultMap="ListingMap">
	<include refid="sqlSelectLstgList" />
	   AND L.LSTG_ID = #{lstgId}
</select>
<select id="selectWishlistForLessee" parameterType="String" resultType="ListingWishlistVO">
	SELECT *
	  FROM LISTING_WISHLIST LW
	 INNER JOIN MEMBER M ON(LW.MBR_CD = M.MBR_CD) 
	 WHERE LSTG_ID = #{lstgId}
	 ORDER BY M.MBR_NM
</select>
<select id="selectLesseeInfo" parameterType="String" resultType="MemberVO">
	SELECT *
	  FROM MEMBER
	 WHERE MBR_CD = #{mbrCd}
</select>
<select id="selectTenancyInfo" parameterType="String" resultType="TenancyVO">
	SELECT *
	  FROM TENANCY
	 WHERE RENTAL_PTY_ID = #{rentalPtyId}
</select>
<select id="selectCommonCodeByGroup" parameterType="String" resultType="CommonCodeVO">
    SELECT *
      FROM COMMON_CODE
     WHERE CODE_GROUP = #{codeGroup}
</select>
<select id="selectBankList" resultType="CommonCodeVO">
	SELECT *
	  FROM COMMON_CODE
	 WHERE CODE_GROUP = 'BANK'
</select>
<select id="selectLesserTypeList" resultType="CommonCodeVO">
	SELECT *
	  FROM COMMON_CODE
	 WHERE CODE_GROUP = 'LSR'
</select>
<select id="selectContractList" parameterType="String" resultType="ContractVO">
	SELECT *
	  FROM CONTRACT
	 WHERE MBR_CD_BROK = #{mbrCdBrok}
</select>

<insert id="insertProceedingContract" parameterType="ContractVO">
    <selectKey resultType="string" keyProperty="contId" order="BEFORE">
        SELECT 'CN' || TO_CHAR(SYSDATE, 'YYMMDD') || LPAD(seq_contr_id.NEXTVAL, 3, '0') FROM dual
    </selectKey>
	INSERT INTO CONTRACT(
		CONT_ID
		, MBR_CD_BROK
		, LSTG_ID
		, CONT_TYPE_CODE
		, CONT_DEPOSIT
		, CONT_TAX_AMOUNT
		, CONT_AMOUNT
		, CONT_STAT_CD
		, CONT_DTM
		, CONT_TYPE_GROUP_CD
		, CONT_STAT_GROUP_CD
		, CONT_LESSEE_TELNO
		, CONT_TENANCY_TELNO
		, CONT_BROKER_TELNO
	)
	VALUES(
		#{contId}
	    , #{mbrCdBrok}
	    , #{lstgId}
	    , #{contTypeCode}
	    , #{contDeposit}
	    , #{contTaxAmount}
	    , #{contAmount}
	    , #{contStatCd}
	    , SYSDATE
	    , 'TRDST'
	    , 'CONTR'
	    , #{contLesseeTelno}
	    , #{contTenancyTelno}
	    , #{contBrokerTelno}
	)
</insert>
<update id="updateListingProdStat" parameterType="String">
	UPDATE LISTING
	   SET LSTG_PROD_STAT = '002'
	 WHERE LSTG_ID = #{lstgId}
</update>
<select id="selectProceedingContractsList" parameterType="String" resultMap="ContractMap">
	SELECT *
	  FROM V_CONTRACT_INFO
	 WHERE MBR_CD_B = #{mbrCd}
	   AND CONT_STAT_CD = '001'
	   AND CONT_DEL_YN = 'N'
	 ORDER BY CONT_ID DESC
</select>
<update id="deleteProceedingContract" parameterType="String">
	UPDATE CONTRACT
	   SET CONT_DEL_YN = 'Y'
	 WHERE CONT_ID = #{contId}
	   AND CONT_SIGN_YN = 'N'
</update>
<update id="updateProceedingContractSignYnToY" parameterType="String">
	UPDATE CONTRACT
	   SET CONT_SIGN_YN = 'Y'
	 WHERE CONT_ID = #{contId}
	   AND CONT_DEL_YN = 'N'
	   AND CONT_SIGN_YN = 'N'
</update>
<update id="updateProceedingContractSignYnToN" parameterType="String">
	UPDATE CONTRACT
	   SET CONT_SIGN_YN = 'N'
	 WHERE CONT_ID = #{contId}
	   AND CONT_DEL_YN = 'N'
	   AND CONT_SIGN_YN = 'Y'
</update>
<select id="selectContractSignatureYn" parameterType="String" resultType="String">
	SELECT CONT_SIGN_YN
	  FROM CONTRACT
	 WHERE CONT_ID = #{contId}
	   AND CONT_DEL_YN = 'N' 
</select>
<select id="selectContractInfo" parameterType="String" resultMap="ContractMap">
	SELECT *
	  FROM CONTRACT
	 WHERE CONT_ID = #{contId}
</select>
<select id="isContractExist" parameterType="String" resultType="Boolean">
	SELECT EXISTS
	(	SELECT 1
		  FROM CONTRACT
		 WHERE CONT_ID = #{contId}
	) FROM DUAL
</select>
<select id="selectDtSignList" parameterType="String" resultType="ContractDigitalSignVO">
	SELECT
	    CDS.CONT_DT_SIGN_ID
	    , CDS.CONT_ID
	    , CDS.CONT_DT_SIGN_TYPE
	    , CDS.CONT_DT_SIGN_DTM
	    , CDS.CONT_DT_SIGN_IMG
	    , CDS.CONT_DT_SIGN_HASH_VAL
	    , CDS.CONT_DT_SIGN_STAT
	    , CDS.MBR_CD
	    , CDS.CONT_DT_IP_ADDR
	    , CDS.CONT_DT_BASE_DATA
	  FROM CONTRACT_DIGITAL_SIGN CDS
	 INNER JOIN MEMBER M ON(CDS.MBR_CD = M.MBR_CD)
	 WHERE CDS.CONT_ID = #{contId}
	 ORDER BY CDS.CONT_DT_SIGN_TYPE
</select>
<select id="selectMemberByTelno" parameterType="String" resultType="MemberVO">
	SELECT
		MBR_CD
		, MBR_ID
		, MBR_PW
		, MBR_NM
		, MBR_NNM
		, MBR_TELNO
		, MBR_EML_ADDR
		, MBR_BASIC_ADDR
		, MBR_DETAIL_ADDR
		, MBR_PROFIL_IMAGE
		, MBR_FRST_REG_DT
		, MBR_STATUS_CODE
		, MBR_DELETE_DATE
		, MBR_ZIP
	  FROM MEMBER
	 WHERE MBR_TELNO = #{telNo}
</select>

<select id="existsSignature" parameterType="string" resultType="int">
    SELECT COUNT(1)
    FROM SIGNATURE
    WHERE CONT_ID = #{contId}
</select>
<select id="selectSignature" parameterType="String" resultType="SignatureVO">
	SELECT *
	  FROM SIGNAUTRE
	 WHERE CONT_ID = #{contId}
</select>
<insert id="insertSignature" parameterType="SignatureVO">
    INSERT INTO SIGNATURE (
        CONT_ID,
        SIGNATURE_STATUS,
        ORIGINAL_PDF_DATA,
        LESSOR_SIGNED_PDF_DATA,
        LESSOR_SIGNED_PDF_ID,
        LESSOR_SIGNED_PDF_PATH,
        LESSEE_SIGNED_PDF_DATA,
        LESSEE_SIGNED_PDF_ID,
        LESSEE_SIGNED_PDF_PATH,
        AGENT_SIGNED_PDF_DATA,
        AGENT_SIGNED_PDF_ID,
        AGENT_SIGNED_PDF_PATH
    ) VALUES (
        #{contId},
        #{signatureStatus},
        #{originalPdfData},
        #{lessorSignedPdfData},
        #{lessorSignedPdfId},
        #{lessorSignedPdfPath},
        #{lesseeSignedPdfData},
        #{lesseeSignedPdfId},
        #{lesseeSignedPdfPath},
        #{agentSignedPdfData},
        #{agendSignedPdfId},
        #{agentSignedPdfPath}
    )
</insert>
<update id="updateSignature" parameterType="SignatureVO">
    UPDATE SIGNATURE
    SET
        SIGNATURE_STATUS       = #{signatureStatus},
        ORIGINAL_PDF_DATA      = #{originalPdfData},
        LESSOR_SIGNED_PDF_DATA = #{lessorSignedPdfData},
        LESSOR_SIGNED_PDF_ID   = #{lessorSignedPdfId},
        LESSOR_SIGNED_PDF_PATH = #{lessorSignedPdfPath},
        LESSEE_SIGNED_PDF_DATA = #{lesseeSignedPdfData},
        LESSEE_SIGNED_PDF_ID   = #{lesseeSignedPdfId},
        LESSEE_SIGNED_PDF_PATH = #{lesseeSignedPdfPath},
        AGENT_SIGNED_PDF_DATA  = #{agentSignedPdfData},
        AGENT_SIGNED_PDF_ID    = #{agendSignedPdfId},
        AGENT_SIGNED_PDF_PATH  = #{agentSignedPdfPath}
    WHERE CONT_ID = #{contId}
</update>
<select id="existsSigner" parameterType="map" resultType="int">
    SELECT COUNT(1)
    FROM SIGNER
    WHERE CONT_ID = #{contId}
      AND ROLE = #{role}
</select>
<select id="selectSigner" parameterType="map" resultMap="SignerResultMap">
    SELECT
        CONT_ID,
        ROLE,
        CODE,
        ID,
        NAME,
        TELNO,
        SIGNER_STATUS,
        IP_ADDR,
        IS_JOINED,
        SIGNED_AT,
        IS_SIGNED,
        HASH_VAL,
        IS_VALID,
        BASE64,
        TEMP_PDF_URL
    FROM SIGNER
    WHERE CONT_ID = #{contId}
      AND ROLE = #{role}
</select><!-- 
<insert id="insertSigner" parameterType="SignerVO">
    INSERT INTO SIGNER (
        CONT_ID,
        ROLE,
        CODE,
        ID,
        NAME,
        TELNO,
        SIGNER_STATUS,
        IP_ADDR,
        IS_JOINED,
        SIGNED_AT,
        IS_SIGNED,
        HASH_VAL,
        IS_VALID,
        BASE64,
        TEMP_PDF_URL
    ) VALUES (
        #{contId},
        #{role},
        #{code},
        #{id},
        #{name},
        #{telno},
        #{signerStatus},
        #{ipAddr},
        #{isJoined, typeHandler=BooleanTypeHandler},
        #{signedAt},
        #{isSigned, typeHandler=BooleanTypeHandler},
        #{hashVal},
        #{isValid, typeHandler=BooleanTypeHandler},
        #{base64},
        #{tempPdfUrl}
    )
</insert> 
<update id="updateSigner" parameterType="SignerVO">
    UPDATE SIGNER
    SET
        CODE          = #{code},
        ID            = #{id},
        NAME          = #{name},
        TELNO         = #{telno},
        SIGNER_STATUS = #{signerStatus},
        IP_ADDR       = #{ipAddr},
        IS_JOINED     = #{isJoined, typeHandler=BooleanTypeHandler},
        SIGNED_AT     = #{signedAt},
        IS_SIGNED     = #{isSigned, typeHandler=BooleanTypeHandler},
        HASH_VAL      = #{hashVal},
        IS_VALID      = #{isValid, typeHandler=BooleanTypeHandler},
        BASE64        = #{base64},
        TEMP_PDF_URL  = #{tempPdfUrl}
    WHERE CONT_ID = #{contId}
      AND ROLE = #{role}
</update> -->
</mapper>