<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.broker.mapper.BrokerListingMapper">
<!-- 
	@author developer_KCY
	/broker/myoffice 에서 사용할 REST 요청 SQL QUERY
	
	- selectLstgListByMbrCd
		한 명의 중개인이 담당하고 있는 매물 리스트.
		매물 한 건에 대한 레코드(ListingVO)를 List에 담아 반환.
		ListingVO 안의 tenancyInfo, brokerInfo를 통해
		해당 매물의 임대인회원(TenancyVO), 중개인회원(BrokerVO)의 정보도 함께 저장.
	
	- 2025-07-08
	VIEW 만들어서 보다 직관적으로 연결함. 어차피 조회 용도로 쓰니까 ^0^
 -->

<!-- Facility Option 정보 매핑 -->
<resultMap id="ListingOptionMap" type="ListingOptionVO">
	<result property="lstgId" column="LSTG_ID_LF" />
	<result property="facOptId" column="FAC_OPT_ID" /> 
	<result property="facOptTypeCd" column="FAC_OPT_TYPE_CD" />
	<result property="facOptNm" column="FAC_OPT_NM" />
	<result property="facOptDesc" column="FAC_OPT_DESC" />
	<result property="facTypeGroupCd" column="FAC_TYPE_GROUP_CD" />
</resultMap>

<!-- Tenancy 정보 매핑 -->
<resultMap id="TenancyMap" type="TenancyVO">
	<result property="mbrCd"           column="MBR_CD_T" />
	<result property="mbrId"           column="MBR_ID_T" />
	<result property="mbrPw"           column="MBR_PW_T" />
	<result property="mbrNm"           column="MBR_NM_T" />
	<result property="mbrNnm"          column="MBR_NNM_T" />
	<result property="mbrTelno"        column="MBR_TELNO_T" />
	<result property="mbrEmlAddr"      column="MBR_EML_ADDR_T" />
	<result property="mbrBasicAddr"    column="MBR_BASIC_ADDR_T" />
	<result property="mbrDetailAddr"   column="MBR_DETAIL_ADDR_T" />
	<result property="mbrProfilImage"  column="MBR_PROFIL_IMAGE_T" />
	<result property="mbrFrstRegDt"    column="MBR_FRST_REG_DT_T" />
	<result property="mbrStatusCode"   column="MBR_STATUS_CODE_T" />
	<result property="mbrDeleteDate"   column="MBR_DELETE_DATE_T" />
	<result property="mbrZip"          column="MBR_ZIP_T" />
	<result property="authApprYn" 	   column="AUTH_APPR_YN_T" />
	<result property="lsrTypeGroupCd"  column="LSR_TYPE_GROUP_CD" />
	<result property="lsrYnTypeCd" 	   column="LSR_YN_TYPE_CD" />
	<result property="rentalPtyAcctNo" column="RENTAL_PTY_ACCT_NO" />
	<result property="rentalPtyBankNm" column="RENTAL_PTY_BANK_NM" />
	<result property="rentalPtyBizRegFilePath" column="RENTAL_PTY_BIZ_REG_FILE_PATH" />
	<result property="rentalPtyBizRegNo" 	   column="RENTAL_PTY_BIZ_REG_NO" />
	<result property="rentalPtyFile"   column="RENTAL_PTY_FILE" />
	<result property="rentalPtyFile2"  column="RENTAL_PTY_FILE2" />
	<result property="rentalPtyId"	   column="RENTAL_PTY_ID_T" />
	<result property="rentalPtyRegBldgCnt" 	   column="RENTAL_PTY_REG_BLDG_CNT" />
</resultMap>

<!-- Broker 정보 매핑 -->
<resultMap id="BrokerMap" type="BrokerVO">
	<result property="mbrCd"          column="MBR_CD_B" />
	<result property="mbrId"          column="MBR_ID_B" />
	<result property="mbrPw"          column="MBR_PW_B" />
	<result property="mbrNm"          column="MBR_NM_B" />
	<result property="mbrNnm"         column="MBR_NNM_B" />
	<result property="mbrTelno"       column="MBR_TELNO_B" />
	<result property="mbrEmlAddr"     column="MBR_EML_ADDR_B" />
	<result property="mbrBasicAddr"   column="MBR_BASIC_ADDR_B" />
	<result property="mbrDetailAddr"  column="MBR_DETAIL_ADDR_B" />
	<result property="mbrProfilImage" column="MBR_PROFIL_IMAGE_B" />
	<result property="mbrFrstRegDt"   column="MBR_FRST_REG_DT_B" />
	<result property="mbrStatusCode"  column="MBR_STATUS_CODE_B" />
	<result property="mbrDeleteDate"  column="MBR_DELETE_DATE_B" />
	<result property="mbrZip"         column="MBR_ZIP_B" />
	<result property="authApprYn" 	  column="AUTH_APPR_YN_B" />
	<result property="brokAddr1" 	  column="BROK_ADDR1" />
	<result property="brokAddr2" 	  column="BROK_ADDR2" />
	<result property="brokNm" 		  column="BROK_NM" />
	<result property="brokRegNo" 	  column="BROK_REG_NO" />
	<result property="crtfNo" 		  column="CRTF_NO" />
	<result property="regDtm" 		  column="REG_DTM" />
	<result property="reprNm" 		  column="REPR_NM" />
	<result property="reprTelNo" 	  column="REPR_TEL_NO" />
</resultMap>

<!-- 최종 매물 정보 -->
<resultMap id="ListingMap" type="ListingVO" autoMapping="true">
	<id property="lstgId" column="LSTG_ID" />
	<association property="tenancyInfo" resultMap="TenancyMap" />
	<association property="brokerInfo" resultMap="BrokerMap" />
	<collection property="facOptions" javaType="List" ofType="ListingOptionVO" >
		<id property="lstgId" 			  column="LSTG_ID_LF" />
		<result property="facOptId" 	  column="FAC_OPT_ID" /> 
		<result property="facOptTypeCd"   column="FAC_OPT_TYPE_CD" />
		<result property="facOptNm" 	  column="FAC_OPT_NM" />
		<result property="facOptDesc" 	  column="FAC_OPT_DESC" />
		<result property="facTypeGroupCd" column="FAC_TYPE_GROUP_CD" />
	</collection>
</resultMap>

<select id="selectLstgListByMbrCd" parameterType="String" resultMap="ListingMap">
SELECT '[[LISTING]]'
       , L.*
       , '[[TENANCY_INFO]]'
       ,TI.*
       , '[[BROKER_INFO]]'
       ,BI.*
       , '[[LISTING_FACILITY]]'
       ,LF.*
  FROM LISTING L
  LEFT OUTER JOIN V_TENANCY_INFO TI ON(L.RENTAL_PTY_ID = TI.RENTAL_PTY_ID_T)
  LEFT OUTER JOIN V_BROKER_INFO BI ON(L.MBR_CD = BI.MBR_CD_B)
  LEFT OUTER JOIN V_LISTING_FACILITY LF ON(L.LSTG_ID = LF.LSTG_ID_LF)
 WHERE L.MBR_CD = #{mbrCd}
 ORDER BY L.LSTG_ID ASC
</select>

<select id="selectLstgDetails" parameterType="Map" resultMap="ListingMap">
SELECT '[[LISTING]]'
       , L.*
       , '[[TENANCY_INFO]]'
       ,TI.*
       , '[[BROKER_INFO]]'
       ,BI.*
       , '[[LISTING_FACILITY]]'
       ,LF.*
  FROM LISTING L
  LEFT OUTER JOIN V_TENANCY_INFO TI ON(L.RENTAL_PTY_ID = TI.RENTAL_PTY_ID)
  LEFT OUTER JOIN V_BROKER_INFO BI ON(L.MBR_CD = BI.MBR_CD_B)
  LEFT OUTER JOIN V_LISTING_FACILITY LF ON(L.LSTG_ID = LF.LSTG_ID)
 WHERE L.MBR_CD = #{mbrCd}
 ORDER BY L.LSTG_ID ASC
   AND L.LSTG_ID = #{lstgId}
</select>

<select id="selectLstgTypeCode" resultType="CommonCodeVO">
	SELECT *
	  FROM COMMON_CODE
	 WHERE CODE_GROUP = 'LSTG'
</select>

</mapper>