<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.broker.mapper.ListingMapper">
<select id="selectfacilityOptionList">
SELECT FAC_OPT_NM
		, FAC_OPT_TYPE_CD
		, FAC_OPT_ID
		, FAC_OPT_DESC
		, FAC_TYPE_CC_CD
		, FAC_TYPE_GRP_CD
FROM FACILITY_OPTION
</select>
</mapper>